@import "./blocks.style.css/header.css";
@import "./blocks.style.css/promo.css";
@import "./blocks.style.css/about.css";
@import "./blocks.style.css/work.css";
@import "./blocks.style.css/team.css";
@import "./blocks.style.css/everyday_clients.css";
@import "./blocks.style.css/footer.css";
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  font-style: normal;
}

.block {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
