.about {
  padding: 90px 0;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.list {
  list-style-type: none;
  color: #212121;

  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 0;
  margin: auto;
  width: 1170px;
}
.information {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.wrapper {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  box-sizing: border-box;
}
