.everyday_clients {
  padding-top: 94px;
  padding-bottom: 79px;

  &_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin: 0;
    margin-bottom: 50px;
  }
}
.list_clients li {
  list-style-type: none;
}
.everyday_clients ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.list_clients a {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  display: flex;
  padding: 16px 30px;
  justify-content: center;
}
.everyday_clients a:hover,
.everyday_clients a:hover path {
  border-color: #2196f3;
  fill: #2196f3;
}

.list_clients a:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.list_clients a {
  --borderWidth: 3px;
  background: #ffffff;
  position: relative;
  border-radius: var(--borderWidth);
}

.list_clients a:hover:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
