html {
  scroll-behavior: smooth;
}

.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  font-family: "Roboto";
  font-style: normal;
}

.block {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  width: 15px;
  background: linear-gradient(white);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    blue,
    blue,
    blue,
    blue,
    blue,
    blue,
    blue,
    blue,
    blue,
    blue,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow,
    yellow
  );
  border-radius: 2px;
}
