.work {
  width: 1170px;
  margin: 0 auto;
  animation: FadeInUp 1s;
}
.type-of-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.type-of-work {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.images {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  gap: 30px;
}
.work_pt {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 74px;
}
