html {
  scroll-behavior: smooth;
}
h1 {
  margin: 0;
}
body {
  font-family: $font-family_1;
  font-style: normal;
  &::-webkit-scrollbar {
    width: 15px;
    background: linear-gradient(white);
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      blue,
      blue,
      blue,
      blue,
      blue,
      blue,
      blue,
      blue,
      blue,
      blue,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow,
      yellow
    );
    border-radius: 2px;
  }
}
.block {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
