header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 2000;
}
.header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 519px;
  align-items: center;
}
.header_link {
  list-style-type: none;
  display: flex;
  text-decoration: none;
  font-size: 1em;
}

.header-link {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header-link a {
  text-decoration: none;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-size: 14px;
}

.header-link a:hover {
  color: #2196f3;
}

.navigation {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.header-link svg {
  margin-right: 10px;
}
.header-link a:hover path {
  fill: #2196f3;
}

.header-link a {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
}

.logo span {
  color: #2196f3;
}
.menu_links {
  display: flex;
  width: 281px;
  justify-content: space-between;
  font-size: 14px;
}
hr {
  border: 1px solid #ececec;
  margin: 0;
}
.vector {
  margin: 0 10px 0 0;
}
.header_link-hover1 {
  opacity: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  background: #2196f3;
}
.header_link-hover2 {
  opacity: 0;
  width: 72px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  background: #2196f3;
}
.header_link-hover3 {
  opacity: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  background: #2196f3;
}

.header_link:hover div {
  background-color: #2196f3;
  opacity: 1;
}

.navigation:hover {
  color: #2196f3;
}

.header_left {
  position: relative;
}

.submenu {
  position: absolute;
  width: 30%;
  top: 100%;
  left: 30%;
  margin: 0;
  list-style: none;
  padding: 10px;
  background-color: #f5f4fa;
  display: none;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.submenu-link {
  color: #212121;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px; /* 162.5% */
  letter-spacing: 0.48px;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;

  transition: 0.5s ease-out;
}
.submenu-link:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transform: scale(2);
}

.menu_links > li:hover .submenu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.submenu-2 {
  position: absolute;
  width: 30%;
  top: 100%;
  left: 60%;
  margin: 0;
  list-style: none;
  padding: 10px;
  background-color: #f5f4fa;
  display: none;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.submenu-link-2 {
  color: #212121;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px; /* 162.5% */
  letter-spacing: 0.48px;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;

  transition: 0.5s ease-out;
}
.submenu-link-2:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transform: scale(2);
}

.menu_links > li:hover .submenu-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
