.everyday_clients {
  h2 {
    margin: 0;
    margin-bottom: 50px;

    @include title($color_3, 36px, 1.08px);
    @media (min-width: 480px) {
      font-size: 26px;
    }
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
  padding-top: 94px;
  padding-bottom: 79px;
  li {
    list-style-type: none;
    @media (min-width: 480px) {
      width: 210px;
    }
    @media (min-width: 1200px) {
      width: 170px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    @media (min-width: 480px) {
      flex-wrap: wrap;

      gap: 30px;
    }
  }
  a {
    &:hover {
      border-color: $border-color_1;
      fill: #2196f3;
      path {
        border-color: $border-color_1;
        fill: #2196f3;
      }
    }
  }

  &__list_clients {
    a {
      border: 1px solid #afb1b8;
      border-radius: 4px;

      height: 92px;
      box-sizing: border-box;
      display: flex;
      padding: 16px 30px;
      justify-content: center;
      background: #ffffff;
      @media (min-width: 1200px) {
        width: 170px;
      }

      &:hover {
        border: 1px solid #2196f3;
        border-radius: 4px;
      }
    }
  }
}
