.everyday_clients {
  h2 {
    margin: 0;
    margin-bottom: 50px;

    @include title($color_3, 36px, 1.08px) {
    }
  }
  padding-top: 94px;
  padding-bottom: 79px;
  li {
    list-style-type: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  a {
    &:hover {
      border-color: $border-color_1;
      fill: #2196f3;
      path {
        border-color: $border-color_1;
        fill: #2196f3;
      }
    }
  }

  &__list_clients {
    a {
      border: 1px solid #afb1b8;
      border-radius: 4px;
      width: 170px;
      height: 92px;
      box-sizing: border-box;
      display: flex;
      padding: 16px 30px;
      justify-content: center;
      background: #ffffff;

      &:hover {
        border: 1px solid #2196f3;
        border-radius: 4px;
      }
    }
  }
}
