.team {
  background-color: $background-color_3;
  margin-top: 94px;
  color: $color_3;
  padding-bottom: 60px;
  @media (min-width: 1200px) {
    padding-bottom: 94px;
  }

  &__members {
    list-style-type: none;
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    perspective: 250px;
    perspective-origin: 500px;
    @media (min-width: 320px) {
      width: auto;
      flex-wrap: wrap;
      gap: 30px;
      li {
        width: 450px;
      }
    }
    @media (min-width: 480px) {
      width: auto;
      flex-wrap: wrap;
      gap: 30px;
      li {
        width: 450px;
      }
    }
    @media (min-width: 768px) {
      li {
        width: 354px;
      }
    }
    @media (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  &__text {
    margin: 0;
    padding: 60px 0 30px;
    @media (min-width: 320px) {
      font-size: 28px;
    }
    @media (min-width: 480px) {
      font-size: 28px;
    }
    @media (min-width: 1200px) {
      padding: 94px 0 50px;
      @include title($color_3, 36px, 1.08px);
    }
  }
  &__card {
    background-color: $background-color_4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 0px 0px 4px 4px;
    &:hover {
      transform: translate3d(5px, 15px, 10px);
    }
  }
  &__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color_3;
  }
  &__role {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $color_1;
  }
  .img {
    @media (min-width: 320px) {
      width: 450px;
    }
    @media (min-width: 480px) {
      width: 450px;
    }
    @media (min-width: 768px) {
      width: 354px;
    }
    @media (min-width: 1200px) {
      width: 270px;
    }
  }
  &__social_media {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;
    @media (min-width: 320px) {
      margin: 0 auto;
      width: 206px;
      margin-bottom: 30px;
    }
    @media (min-width: 480px) {
      margin: 0 auto;
      width: 206px;
      margin-bottom: 30px;
    }
    &:hover {
      cursor: pointer;
    }
    a {
      background: #ffffff;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        path {
          fill: #ffffff;
        }
        background: #2196f3;
      }
    }
  }
}
